{%- assign _paths_rss = site.paths.subscribe | default: site.data.variables.default.paths.subscribe -%}
{%- include snippets/get-nav-url.html path=_paths_rss -%}
{%- assign _paths_rss = __return -%}
{%- include snippets/get-locale-string.html key='SUBSCRIBE' -%}
{%- assign _locale_nav_subscribe = __return -%}
<div class="subscribe">

<button style="border-radius:5px; border:1px solid #000; padding:10px 20px; color:#121212; background:#ff9500; size:2em; cursor:pointer;">

<i class="fas fa-bell"></i> <a style="color:#121212;" href="{{ _paths_rss }}">{{ _locale_nav_subscribe }}</a>

</button>

</div>
